* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-size: 14px;
    font-family: El Messiri;
    color: white;
    height: 100%;
}
body h1 {
    font-size: 64px;
    line-height: 89.6px;
    font-weight: 700;
}
body h2 {
    font-size: 42px;
    line-height: 58px;
    font-weight: 700;
}
body h3 {
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
}
#wrapper {
    background-color: #162831;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    margin-bottom: 70px;
}
@media (max-width: 1094px) {
    .header_container {
        max-width: 950px;
    }
    .main_block {
        max-width: 950px;
        max-height: 400px;
    }
    .menu_list .menu_link {
       font-size: 10px;
       margin-right: 25px;
    }
}
@media (max-width: 794px) {
    .menu_link {
        display: none;
    }
    .main_block {
        max-width: 647px;
        max-height: 300px;
    }
    .logo {
        max-width: 40px;
        max-height: 40px;
        margin-left: 70px;
    }
    .wrapper_slider {
        display: none;
    }
}
@media (max-width: 711px) {
   .media_block {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .media_block_fat_item {
    display: flex;
    flex: 0 0 300px;
    max-height: 250px;
   }
   .media_block_small_item {
    display: flex;
    max-width: 300px;
    max-height: 250px;
   }
   .media_block_small_item h3 {
    font-size: 17px;
   }
   .description_block {
    display: flex;
    flex-direction: column;
    order: 1;
   }
}
@media (max-width: 604px) {
    .main_block {
        max-width: 447px;
        max-height: 190px;
    }
    .main_block h1 {
        font-size: 32px;
        line-height: 45px;
    }
    .main_block h3 {
        font-size: 12px;
        line-height: 16px;
    }
    .subtitle h2 {
        font-size: 30px;
    }
}
.header_container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    max-width: 1296px;
    min-height: 110px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu_list {
    display: flex;
}
.menu_link {
    margin-right: 50px;
}
.header_menu {
    flex: 1 1 auto;
}
.menu a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: white;
}
.menu a:hover {
    color: #018ABE;
    transition: all 0.3s ease 0s;
}
.header_button {
    display: flex;
    justify-content: center;
}
.button {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
}
.button_blue {
    background-color: #018ABE;
    color: white;
}
.button_blue:hover {
    background-color: #1d6480;
    transition: all 0.3s ease 0s;
}
.main_block {
    background-image: url(img/main-img.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1256px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 15px;
}
.subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.media_block {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
    max-width: 1296px;
}
.media_block_fat {
    display: flex;
    flex-direction: column; 
    flex-basis: 30%;
    margin-bottom: 24px;
}
.media_block_small {
    display: flex;
    flex-direction: column; 
    flex-basis: 30%;
}
.media_block_fat_item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    padding: 15px;
    background-image: url(img/media-img.svg);
    flex: 1 1 540px;
    border-radius: 10px;
    
}
.media_block_small_item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    padding: 15px;
    background-image: url(img/media-img.svg);
    background-position: center;
    flex: 1 1 250px;
    border-radius: 10px;
    margin-bottom: 24px;
}
.reviews {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .wrapper_slider {
	max-width: 1700px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
}
.slides {
    padding-right: 15px;
    background-color: #1d6480;
    margin-left: 15px;
    padding: 30px;
}
.slides h3 {
    margin-bottom: 15px;
}
.slides p {
    padding-bottom: 15px;
}
.slide2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 0 1 636px;
    height: 276px;
    font-size: 14px;
}
.slide3, .slide1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 0 1 500px;
    height: 236px;
    font-size: 10px;
    opacity: 50%;
}
.inp {
    display: flex;
    justify-content: center;
}
.description {
    max-width: 1296px;
    margin: 0 auto;
}
.description_tag {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.description_container {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description_block {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.description_left {
    max-width: 466px;
    margin-right: 25px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}
.description_left h3 {
    margin-bottom: 30px;
}
.description_left p {
    margin-bottom: 15px;
    opacity: 40%;
}
.description_right {
    max-width: 466px;
    margin-left: 25px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}
.description_right h3 {
    margin-bottom: 30px;
}
.description_right p {
    margin-bottom: 15px;
    opacity: 40%;
}
.desc_img {
    width: 96%;
    max-width: 526px; 
  }
  .img_desc{
    width: 100%; 
    height: auto; 
  }
  .prices_wrapper {
    max-width: 1296px;
    display: flex;
    align-items: center;
  }
  .prices_contant {
    display: flex;
    flex: 1 1 auto;
    flex-basis: 35%;
    margin-right: 135px;
    
  }
  .prices_item h3{
    font-size: 18px;
    line-height: 60px;
    font-weight: 400;
    margin-right: 100px;
    justify-content: center;
  }
  .prices_item2 h3{
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;
  }
  .prices_tag {
    margin-bottom: 50px;
  }
  .prices {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 200px;
  }
  .prices_img {
    display: flex;
    flex-direction: column;
    flex:  1 1 35%;
    text-align: center;
  }
  .img_prices {
    max-width: 90%;
  }
  .prices_img img{
    margin-bottom: 25px;
  }
.located {
    max-width: 1350px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.map {
    position: relative;
}
.locat1 {
    position: absolute;
    top: 300px;
    left: 400px;
}
.locat2 {
    position: absolute;
    top: 430px;
    left: 450px;
}
.contacts {
    display: flex;
     flex-direction: column;  
}
.contacts_block {
    background-color: #018ABE;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 20px;
    flex: 1 1 268px;
    border-radius: 10px;
    padding: 25px 45px 0 45px;
}
.contacts_block h3{
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 21px;
     
}
.contacts_block p{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 21px;  
}
.ct-lg {
    margin-right: 10px;
}
.cont_bnt {
    max-width: 150px;
    background-color: white;
    padding: 9px 15px;
    text-align: center;
}
.cont_bnt a {
    color: #018ABE;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}